* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	display: inline-block;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}
body {
	font-family: "Lato", sans-serif;
	color: #424551;
	font-size: 14px;
	height: 100%;
	background-color: #f8f1fe;
}

.bus {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&__inner {
		display: flex;
		.bus__title {
			padding: 15px 0px 15px 0px;
			font-size: 20px;
			color: #fff;
			text-align: center;
			background-color: #9d3fe7;
			border-radius: 10px;
			margin-top: 10px;
		}
		.bus__table {
			td {
				padding: 20px 15px 20px 15px;
				text-align: center;
				border: 1px solid #000;
			}
		}
	}
	&__map {
		margin: 0;
		width: 100%;
		height: 1080px;
		overflow: hidden;
	}
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 2px;
}
table thead {
	color: #ffffff;
	font-weight: bold;
	background: #d39cfe;
}
table thead tr td {
	border: 1px solid #9d3fe7;
	border-radius: 10px;
}
table tbody tr td {
	border: 1px solid #e8e9eb;
	border-radius: 10px;
}
table tbody tr:nth-child(2n) {
	background: #f4f4f4;
}
table tbody tr:hover {
	background: #ebffe8;
	cursor: pointer;
}
